.grid {
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;

    @include variant(container) {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    @include variant(no-gutters) {
        padding: 0;
    }
}

@media (min-width: 576px) {
    .grid--container {
        width: 540px;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .grid--container {
        width: 720px;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .grid--container {
        width: 970px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .grid--container {
        width: 1008px;
        max-width: 100%;
    }
}

@media (min-width: 1400px) {
    .grid--container {
        &--lg {
            width: 1274px;
        }
    }
}
