.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin-right: -12px;
    margin-left: -12px;
    padding: 0;

    &:last-child {
        margin-bottom: 0;
    }

    @include variant(no-gutters) {
        margin: 0;
    }
}
