html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

@-ms-viewport {
    width: device-width;
}

html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: normal;
    line-height: $base-line-height;
    color: $base-text-color;
    background-color: $base-bg-color;
    min-width: 320px;
    overflow-x: hidden;
}

[tabindex="-1"]:focus {
    outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin: 0;
}

img {
    vertical-align: middle;
}
