.label {
    display: inline-block;
    background-color: $color-secondary;
    font-size: 0.625rem;
    font-weight: 400;
    color: $color-primary;
    text-transform: uppercase;
    padding: 3px 10px;
    border-radius: 20px;
    margin-left: 5px;
}
