@mixin flex ($flex-direction, $justify-content, $align-items, $flex-wrap) {
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

@mixin button ($button-size, $button-radius) {
    font-size: 0.75rem;
    font-weight: 500;
    padding: $button-size;
    border-radius: $button-radius;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
}

@mixin button-theme ($background-color, $color) {
    background-color: $background-color;    
    color: $color;
    transition: color $transition-time, background $transition-time;
}

@mixin ul-reset () {
    list-style: none;
    margin: 0;
    padding: 0;
}
