.page-heading {
    font-size: 2rem;
    font-weight: 100;
    color: $color-default;
    line-height: 1.111;
    letter-spacing: 2px;
    text-transform: uppercase;

    @media (min-width: 576px) {
        font-size: 2.25rem;
    }

    @media (min-width: 768px) {
        font-size: 2.75rem;
    }

    @media (min-width: 992px) {
        font-size: 3.5rem;
    }

    @media (min-width: 1200px) {
        font-size: 4.5rem;
    }
}

.page-subheading {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.section-heading {
    &--primary {
        font-size: 2rem;
        font-weight: 100;
        color: $color-default;
        line-height: 1.2;

        @media (min-width: 768px) {
            font-size: 2.5rem;
        }

        @media (min-width: 992px) {
            font-size: 3.5rem;
        }

        @media (min-width: 1200px) {
            font-size: 4.5rem;
        }
    }

    &--secondary {
        font-size: 0.75rem;
        font-weight: 500;
        color: $color-default;
        line-height: 1.2;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
}

.section-subheading {
    font-size: 0.875rem;
    font-weight: 500;

    @media (min-width: 768px) {
        font-size: 1.125rem;
        line-height: 1.444;
    }
}
