/* Base Styles */
$base-font-family: 'Montserrat', sans-serif;
$base-font-size: 0.875rem;
$base-line-height: 1.57143;
$base-text-color: #232323;
$base-bg-color: #FFF;

/* Colors */
$color-default: #000;
$color-primary: #FFF;
$color-secondary: #26E6E6;
$color-text-secondary: rgba(35, 35, 35, 0.5);
$bg-section: #F5F6F8;
$btn-border-color: #333;
$btn-text-color: #636363;

/* Transition Time */
$transition-time: 0.2s;
