.advantages {
    padding: 60px 0;

    @media (min-width: 1200px) {
        padding: 104px 0 97px;
    }
}

.advantage {
    &__box {
        @media (min-width: 768px) {
            padding-right: 40px !important;
        }

        @media (min-width: 992px) {
            padding-right: 60px !important;
        }

        @media (min-width: 1200px) {
            padding-right: 85px !important;
        }

        + .advantage__box {
            margin-top: 60px;

            @media (min-width: 768px) {
                margin-top: 0;
            }
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }

            &:nth-child(2) {
                transition-delay: 0.25s;
            }

            &:nth-child(3) {
                transition-delay: 0.5s;
            }
        }
    }

    &__title {
        font-size: 1rem;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 17px;
    }

    &__description {
        color: $color-text-secondary;
        margin-bottom: 18px;

        @media (min-width: 768px) and (max-width: 991px) {
            min-height: 186px;
        }

        @media (min-width: 992px) {
            min-height: 132px;
        }
    }
}
