.footer {
    background: $bg-section url("../images/footer-bg.jpg") top center no-repeat;
    background-size: cover;
    padding: 10px 0 40px;
    max-height: 1000px;

    @media (min-width: 576px) {
        max-height: 890px;
    }

    @media (min-width: 768px) {
        padding: 10px 0 60px;
    }

    @media (min-width: 992px) {
        padding: 10px 0 80px;
    }

    @media (min-width: 1200px) {
        padding: 10px 0 128px;
    }

    &__heading {
        font-size: 2.25rem;
        font-weight: 900;
        line-height: 1.333;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;

        @media (min-width: 768px) {
            text-align: right;
        }

        @media (min-width: 768px) {
            font-size: 3.75rem;
            margin-bottom: 100px;
        }

        @media (min-width: 992px) {
            font-size: 4.5rem;
            margin-bottom: 200px;
        }

        @media (min-width: 1200px) {
            font-size: 5.625rem;
            margin-bottom: 229px;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        background-color: $color-default;
        padding: 47px 40px 36px;

        @media (max-width: 575px) {
            max-width: 296px;
            margin: 0 auto;
        }

        @media (min-width: 992px) {
            padding: 47px 54px 53px;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
                transition-delay: 0.25s;
            }
        }
    }

    &__col {
        display: flex;
        flex-wrap: wrap;

        &--left {
            flex: 0 0 100%;
            max-width: 100%;
            justify-content: center;
            text-align: center;
            margin-bottom: 40px;

            @media (min-width: 992px) {
                flex: 0 0 66.666%;
                max-width: 66.666%;
                text-align: left;
                margin-bottom: 0;
            }
        }

        &--right {
            flex: 0 0 100%;
            max-width: 100%;
            flex-direction: column;
            text-align: center;

            @media (min-width: 992px) {
                flex: 0 0 33.333%;
                max-width: 33.333%;
                justify-content: space-between;
                text-align: right;
            }
        }
    }

    &__logo {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;

        @media (min-width: 992px) {
            flex: 0 0 78px;
            max-width: 78px;
            margin-bottom: 0;
        }

        img {
            user-select: none;
        }
    }

    &__links {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 100%;

        @media (min-width: 992px) {
            flex: 1 1 auto;
        }
    }

    &__menu {
        @include ul-reset();

        flex: 0 0 100%;
        max-width: 100%;

        + .footer__menu {
            @media (max-width: 575px) {
                margin-top: 36px;
            }
        }

        @media (min-width: 576px) {
            flex: 0 0 33.3%;
            max-width: 33.3%;
        }

        &-item {
            + .footer__menu-item {
                margin-top: 10px;

                @media (min-width: 576px) {
                    margin-top: 18px;
                }
            }
        }

        &-link {
            font-size: 0.75rem;
            color: $color-primary;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.7px;
            transition: $transition-time;

            &:hover {
                color: darken($color-primary, 25%);
            }
        }
    }

    &__copyright {
        font-size: 0.6875rem;
        color: rgba($color-primary, 0.2);
        text-transform: uppercase;
        margin-bottom: 9px;
        letter-spacing: 1px;
    }

    &__credits {
        img {
            user-select: none;
        }
    }

    &__contact {
        margin-top: 20px;
    }

    &__weblink {
        display: inline-block;
        font-size: 0.75rem;
        color: rgba($color-primary, 0.2);
        margin-bottom: 15px;
        text-decoration: none;
        transition: $transition-time;

        &:hover {
            color: rgba($color-primary, 0.3);
        }
    }

    &__social {
        @include ul-reset();

        display: flex;
        justify-content: center;

        @media (min-width: 992px) {
            justify-content: flex-end;
        }

        &-item {
            + .footer__social-item {
                margin-left: 10px;

                @media (min-width: 992px) {
                    margin-left: 26px;
                }
            }
        }

        &-link {
            display: inline-block;
            width: 24px;
            height: 24px;
            font-size: 0;
            text-align: center;
            text-decoration: none;
        }

        .icon {
            &-twitter::before {
                content: url("../images/social/twitter.svg");
                position: relative;
                top: 2px;
            }

            &-facebook::before {
                content: url("../images/social/facebook.svg");
            }

            &-behance::before {
                content: url("../images/social/behance.svg");
                position: relative;
                top: 2px;
            }

            &-dribble::before {
                content: url("../images/social/dribble.svg");
            }
        }
    }
}
