.header {
    background: $bg-section url("../images/header-bg.jpg") top center no-repeat;
    background-size: cover;
    padding: 101px 0 341px;
    text-align: center;

    @media (min-width: 1599px) {
        max-height: 780px;
    }

    @media (min-width: 576px) {
        padding: 191px 0 291px;
        text-align: left;
    }

    @media (min-width: 768px) {
        padding: 221px 0 251px;
    }

    @media (min-width: 992px) {
        padding: 231px 0 251px;
    }

    @media (min-width: 1200px) {
        padding: 241px 0;
    }

    @media (min-width: 1480px) {
        padding: 281px 0 201px;
    }

    @media (min-width: 1600px) {
        padding: 281px 0;
    }

    @media (min-width: 1800px) {
        padding: 321px 0;
    }

    @media (min-width: 1900px) {
        padding: 321px 0 361px;
    }

    &__content {
        @media (min-width: 576px) {
            margin-left: -20px;
        }

        @media (min-width: 768px) {
            margin-left: -25px;
        }

        @media (min-width: 992px) {
            margin-left: 30px;
        }

        @media (min-width: 1380px) {
            margin-left: 0;
        }
    }
}

.page-heading {
    &--header {
        margin-bottom: 13px;

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }
        }
    }
}

.page-subheading {
    &--header {
        margin-left: 7px;

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
                transition-delay: 0.25s;
            }
        }
    }
}
