.join-us {
    padding: 45px 0;

    @media (min-width: 768px) and (max-width: 991px) {
        padding: 50px 0;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        padding: 60px 0;
    }

    @media (min-width: 1200px) {
        padding: 75px 0;
    }
}

.section-heading {
    &--join-us {
        margin-bottom: 20px;

        @media (min-width: 992px) {
            margin-bottom: 30px;
        }
    }

    &--join-us,
    &--scrollwatch {
        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }
        }
    }
}

.section-subheading {
    &--join-us {
        display: inline-block;
        max-width: 480px;
        margin: 0 auto;
        padding: 0 12px;

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
                transition-delay: 0.25s;
            }
        }
    }
}
