.platform-features {
    padding-top: 80px;

    @media (min-width: 768px) {
        padding-top: 180px;
    }

    @media (min-width: 992px) {
        padding-top: 220px;
    }

    @media (min-width: 1200px) {
        padding-top: 180px;
    }

    @media (min-width: 1280px) {
        padding-top: 300px;
    }
}

.section-heading {
    &--platform-features {
        margin-bottom: 34px;

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }
        }
    }
}

.section-subheading {
    &--platform-features {
        display: inline-block;
        max-width: 880px;
        margin: 0 auto 60px;
        padding: 0 12px;

        @media (min-width: 992px) {
            margin-bottom: 70px;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
                transition-delay: 0.25s;
            }
        }
    }
}

.feature {
    &__box {
        display: flex;
        margin-bottom: 60px;

        @media (min-width: 992px) {
            margin-bottom: 76px;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                transition-delay: 0.25s;
            }

            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                transition-delay: 0.75s;
            }
        }
    }

    &__icon {
        flex: 0 0 60px;
        padding-top: 7px;
        text-align: center;
    }

    &__content {
        flex: 1 1 auto;
        padding-left: 20px;
        padding-right: 10px;

        @media (min-width: 992px) {
            padding-right: 20px;
        }
    }

    &__title {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.333;
        text-transform: capitalize;
        margin-bottom: 9px;
    }

    &__description {
        color: $color-text-secondary;
    }
}
