.portfolio {
    padding: 40px 0 62px;

    @media (min-width: 992px) {
        padding: 40px 0 102px;
    }

    &__grid {
        position: relative;
        overflow: hidden;

        @media (max-width: 767px) {
            max-width: 600px;
            padding: 0 15px;
            margin: 0 auto;
            text-align: center;
        }

        @media (max-width: 639px) {
            max-width: 320px;
        }
    }

    &__heading {
        font-size: 1.375rem;
        font-weight: 900;
        color: $color-default;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: 768px) {
            position: absolute;
            top: 2.4375vw;
            left: 43.3375vw;
            text-align: left;
            margin-bottom: 0;
        }

        @media (min-width: 992px) {
            font-size: 1.625rem;
            top: 2.875vw;
        }

        @media (min-width: 1200px) {
            top: 3.4375vw;
        }
    }

    &__item {
        display: inline-block;

        @media (max-width: 639px) {
            width: 290px !important;
            height: 290px !important;
            overflow: hidden;
        }

        @media (min-width: 768px) {
            float: left;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }
        }
    }

    &__overlay {
        position: absolute;
        background-color: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s ease;

        &::before {
            position: absolute;
            content: "+";
            background-color: $color-secondary;
            color: $color-default;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            line-height: 30px;
            white-space: nowrap;
            text-align: center;
            text-transform: uppercase;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            transition: $transition-time ease;
            opacity: 0;

            @media (min-width: 1200px) {
                content: "View Demo";
                font-size: 0.75rem;
                border-radius: 2px;
                padding: 10px 15px;
                width: auto;
                height: auto;
                line-height: $base-line-height;
            }
        }
    }

    &__image {
        position: relative;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;

        @media (max-width: 639px) {
            padding-bottom: 280px !important;
        }

        &:hover {
            .portfolio__overlay {
                background-color: rgba($color-default, 0.7);

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__item-1 {
        width: 13.0625vw;

        @media (min-width: 768px) {
            margin-top: 42.5625vw;
        }

        @media (min-width: 992px) {
            &.scroll-watch-in-view {
                transition-delay: 0.5s;
            }
        }

        .portfolio__image {
            background-image: url("../../images/portfolio/img1.jpg");
            padding-bottom: 200.9569377990431%;
        }
    }

    &__item-2 {
        width: 19vw;

        @media (min-width: 768px) {
            margin-top: 4.375vw;
            margin-left: 3.8125vw;
        }

        @media (min-width: 992px) {
            &.scroll-watch-in-view {
                transition-delay: 0.25s;
            }
        }

        .portfolio__image {
            background-image: url("../../images/portfolio/img2.jpg");
            padding-bottom: 132.2368421052632%;
        }
    }

    &__item-3 {
        width: 39.5vw;

        @media (min-width: 768px) {
            margin-top: 6.875vw;
            margin-left: 7.75vw;
        }

        @media (min-width: 992px) {
            &.scroll-watch-in-view {
                transition-delay: 0.5s;
            }
        }

        .portfolio__image {
            background-image: url("../../images/portfolio/img3.jpg");
            padding-bottom: 66.4556962025316%;
        }
    }

    &__item-4 {
        width: 60vw;

        @media (min-width: 768px) {
            margin-top: 2.75vw;
            margin-left: 6.9375vw;
        }

        @media (min-width: 992px) {
            &.scroll-watch-in-view {
                transition-delay: 0.75s;
            }
        }

        .portfolio__image {
            background-image: url("../../images/portfolio/img4.jpg");
            padding-bottom: 20.8333333333333%;
        }
    }

    &__item-5 {
        width: 29.25vw;

        @media (min-width: 768px) {
            margin-top: 3.375vw;
            margin-left: 5.0625vw;
        }

        @media (min-width: 992px) {
            &.scroll-watch-in-view {
                transition-delay: 0.75s;
            }
        }

        .portfolio__image {
            background-image: url("../../images/portfolio/img5.jpg");
            padding-bottom: 89.7435897435897%;
        }
    }

    &__item-6 {
        width: 29.25vw;

        @media (min-width: 768px) {
            margin-top: 4.625vw;
            margin-left: 10.25vw;
        }

        @media (min-width: 992px) {
            &.scroll-watch-in-view {
                transition-delay: 1s;
            }
        }

        .portfolio__image {
            background-image: url("../../images/portfolio/img6.jpg");
            padding-bottom: 89.7435897435897%;
        }
    }

    &__item-7 {
        width: 10.875vw;

        @media (min-width: 768px) {
            float: right;
            margin-top: -26.0875vw;
        }

        @media (min-width: 992px) {
            &.scroll-watch-in-view {
                transition-delay: 0.5s;
            }
        }

        .portfolio__image {
            background-image: url("../../images/portfolio/img7.jpg");
            padding-bottom: 241.3793103448276%;
        }
    }
}
