.showcase {
    &__container {
        background-color: $color-default;
        padding: 70px 12px 30px;
        box-sizing: border-box;
        max-width: 100%;

        @media (min-width: 768px) {
            padding: 117px 12px 130px;
        }

        @media (min-width: 1400px) {
            max-width: 1370px;
            margin: 0 auto;
            border-radius: 2px;
        }

        @media (min-width: 1600px) {
            max-width: 1600px;
        }
    }

    .row {
        position: relative;
    }

    &__content {
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 12px;
        text-align: center;
        margin-bottom: 60px;

        @media (min-width: 480px) {
            padding: 0 60px;
        }

        @media (min-width: 768px) {
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: 40px;
            padding-right: 0;
            text-align: left;
            margin-bottom: 0;
        }

        @media (min-width: 1200px) {
            padding-left: 80px;
        }

        @media (min-width: 1400px) {
            padding-left: 126px;
        }
    }

    &__description {
        color: rgba($color-primary, 0.5);
        margin-bottom: 40px;

        @media (min-width: 768px) {
            max-width: 320px;
            margin-bottom: 120px;
        }

        @media (min-width: 992px) {
            max-width: 440px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 160px;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
                transition-delay: 0.25s;
            }
        }
    }

    .btn {
        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
                transition-delay: 0.5s;
            }
        }
    }

    .btn--round {
        display: block;
        margin: 40px auto 0;

        @media (min-width: 768px) {
            display: inline-block;
            position: absolute;
            right: 10px;
            bottom: -3px;
            margin: 0;
        }

        @media (min-width: 992px) {
            bottom: -8px;
        }
    }

    &__image {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: right;

        @media (min-width: 768px) {
            position: absolute;
            flex: 0 0 50%;
            max-width: 50%;
            z-index: 2;
            top: 120px;
            right: 0;
            text-align: left;
        }

        @media (min-width: 1280px) {
            top: 147px;
        }

        @media (min-width: 1600px) {
            right: 15px;
        }

        img {
            @media (max-width: 479px) {
                max-width: 100%;
                height: auto;
                margin-left: 12px;
            }

            @media (min-width: 480px) {
                max-width: 468px;
            }

            @media (min-width: 576px) {
                max-width: 550px;
            }

            @media (min-width: 768px) {
                max-width: 600px;
            }

            @media (min-width: 992px) {
                max-width: 680px;
            }

            @media (min-width: 1280px) {
                max-width: none;
            }

            @media (min-width: 992px) {
                &[data-scroll-watch] {
                    opacity: 0;
                    transition: opacity 1s;
                }

                &.scroll-watch-in-view {
                    opacity: 1;
                    transition-delay: 0.75s;
                }
            }
        }
    }
}

.section-heading {
    &--showcase {
        color: $color-primary;
        line-height: 1.111;
        margin-bottom: 44px;

        @media (min-width: 1200px) and (max-width: 1290px) {
            font-size: 3.5rem;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }
        }
    }
}
