.slider {
    padding: 50px 0 55px;

    @media (min-width: 1400px) {
        padding: 75px 0 55px;
    }

    .row {
        position: relative;
    }

    &__bg-image {
        position: relative;
        flex: 0 0 310px;
        max-width: 310px;
        padding: 0 5px;
        margin: 0 auto;

        @media (min-width: 576px) {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 12px;
            margin: 0;
        }

        @media (min-width: 992px) {
            flex: 0 0 75%;
            max-width: 75%;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }
        }
    }

    &__widget {
        background-color: $color-primary;
        flex: 0 0 296px;
        max-width: 296px;
        border-radius: 2px;
        margin: 40px auto 0;

        @media (min-width: 576px) {
            flex: 0 0 335px;
            max-width: 335px;
        }

        @media (min-width: 992px) {
            position: absolute;
            flex: 0 0 335px;
            max-width: 335px;
            top: 15px;
            right: 15px;
            margin: 0;
        }

        @media (min-width: 1400px) {
            flex: 0 0 386px;
            max-width: 386px;
            top: 47px;
            right: 70px;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
                transition-delay: 0.25s;
            }
        }
    }
}

.benefits__box {
    padding: 24px;

    @media (min-width: 576px) {
        padding: 30px;
    }

    @media (min-width: 1400px) {
        padding: 40px 34px 57px;
    }
}

.benefit {
    &__item {
        display: flex;

        + .benefit__item {
            margin-top: 36px;
        }
    }

    &__icon {
        flex: 0 0 50px;

        @media (min-width: 1400px) {
            flex: 0 0 60px;
        }
    }

    &__description {
        flex: 1 1 auto;
        padding-left: 23px;

        @media (min-width: 1400px) {
            padding-right: 16px;
        }
    }

    &__heading {
        font-weight: 1rem;
        font-weight: 500;
        line-height: 1.33;
        margin: 6px 0;

        @media (min-width: 1400px) {
            font-weight: 1.125rem;
            margin: 8px 0 14px;
        }
    }

    &__content {
        font-size: 0.75rem;
        color: $color-text-secondary;

        @media (min-width: 1400px) {
            font-size: 0.875rem;
        }
    }
}

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    transform: translate(0, -50%);
    padding: 0;
    outline: none;
    border: 3px solid rgba($color-primary, 0.5);
    border-radius: 50%;

    @media (min-width: 768px) {
        width: 70px;
        height: 70px;
    }

    &:hover,
    &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        border-color: $color-primary;

        &::before {
            opacity: 1;
        }
    }

    &::before {
        position: relative;
        font-family: 'FontAwesome';
        font-size: 1.25rem;
        line-height: 50px;
        color: $color-primary;
        opacity: 0.5;
        top: -1px;
        left: -1px;

        @media (min-width: 768px) {
            font-size: 1.5rem;
            line-height: 70px;
        }
    }
}

.slick-prev {
    top: 95%;
    left: -160px;

    @media (min-width: 576px) {
        left: -230px;
    }

    @media (min-width: 768px) {
        left: -250px;
    }

    @media (min-width: 1400px) {
        left: -290px;
    }

    &::before {
        content: "\f104";
    }
}

.slick-next {
    top: 20%;
    right: -130px;

    @media (min-width: 576px) {
        right: -180px;
    }

    @media (min-width: 768px) {
        right: -200px;
    }

    @media (min-width: 1400px) {
        right: -230px;
    }

    &::before {
        content: "\f105";
    }
}

.slider {
    .slick-slider {
        position: absolute;
        top: 35%;
        left: 24%;
        width: 150px;
        margin: 0 auto;
        transform: rotate3d(1, 1, 1, -70deg);

        @media (min-width: 576px) {
            top: 36%;
            left: 26%;
            width: 250px;
        }

        @media (min-width: 768px) {
            top: 36%;
            left: 23%;
            width: 360px;
        }

        @media (min-width: 1400px) {
            top: 38%;
            left: 23%;
            width: 460px;
        }
    }

    .slick-slide {
        text-align: center;

        img {
            display: inline-block;
            max-width: 50px;

            @media (min-width: 576px) {
                max-width: 80px;
            }

            @media (min-width: 768px) {
                max-width: none;
            }
        }
    }
}
