.subscription {
    padding: 78px 0 98px;

    @media (max-width: 767px) {
        padding: 40px 0;
    }

    &__title {
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__price {
        font-size: 3.125rem;
        font-weight: 900;
        margin-bottom: 16px;

        @media (max-width: 991px) {
            font-size: 2.5rem;
        }
    }

    &__description {
        color: rgba($color-default, 0.5);
        margin-bottom: 23px;

        @media (max-width: 991px) {
            font-size: 0.8125rem;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            min-height: 198px;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            min-height: 154px;
        }

        @media (min-width: 1200px) {
            min-height: 132px;
        }
    }

    &__btn {
        color: $color-default;
        transition: color $transition-time;

        &:hover {
            color: rgba($color-default, 0.75);
        }
    }

    &__box {
        background-color: transparent;
        color: $color-default;
        border-radius: 2px;
        padding: 38px 42px;

        @media (min-width: 768px) and (max-width: 991px) {
            padding: 25px;
        }

        @media (min-width: 992px) {
            padding: 38px 42px 48px;
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }
        }

        &.inverse {
            background-color: $color-default;

            .subscription {
                &__title,
                &__price {
                    color: $color-primary;
                }

                &__description {
                    color: rgba($color-primary, 0.5);
                }

                &__btn {
                    background-color: $color-secondary;
                    color: $color-default;

                    &:hover {
                        background-color: lighten($color-secondary, 10%);
                        color: $color-default;
                    }
                }
            }
        }
    }
}
