.summary {
    padding: 60px 0 80px;

    @media (min-width: 768px) {
        padding: 102px 0 122px;
    }

    &__box {
        @media (min-width: 768px) {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }

        + .summary__box {
            margin-top: 60px;

            @media (min-width: 768px) {
                margin-top: 0;
            }
        }

        @media (min-width: 992px) {
            &[data-scroll-watch] {
                opacity: 0;
                transition: opacity 1s;
            }

            &.scroll-watch-in-view {
                opacity: 1;
            }

            &:nth-child(2) {
                transition-delay: 0.25s;
            }

            &:nth-child(3) {
                transition-delay: 0.5s;
            }
        }
    }

    &__icon {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-bottom: 18px;
    }

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 18px;

        @media (min-width: 768px) {
            min-height: 66px;
        }

        @media (min-width: 992px) {
            min-height: 52px;
        }
    }

    &__description {
        color: $color-text-secondary;
        margin-bottom: 18px;

        @media (min-width: 768px) and (max-width: 991px) {
            min-height: 154px;
        }

        @media (min-width: 992px) and (max-width: 1199px) {
            min-height: 110px;
        }
    }
}
