.testimonials {
    padding: 20px 0 40px;

    &__wrapper {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    @media (min-width: 992px) {
        &[data-scroll-watch] {
            opacity: 0;
            transition: opacity 1s;
        }

        &.scroll-watch-in-view {
            opacity: 1;
        }
    }
}

.testimonial {
    &__box {
        position: relative;
        background-color: $color-primary;
        padding: 60px 20px 50px;
        border-radius: 2px;
        margin: 0 auto;
        display: inline-block;
        flex: 0 0 200px;
        max-width: 200px;

        @media (min-width: 576px) {
            padding: 57px 40px 47px;
            flex: 0 0 360px;
            max-width: 360px;
        }

        @media (min-width: 768px) {
            padding: 57px 54px 47px;
            flex: 0 0 500px;
            max-width: 500px;
        }

        @media (min-width: 992px) {
            padding: 67px 54px 57px;
            flex: 0 0 640px;
            max-width: 640px;
        }

        @media (min-width: 1200px) {
            padding: 77px 50px 67px;
            flex: 0 0 796px;
            max-width: 796px;
        }

        &::before,
        &::after {
            position: absolute;
        }

        &::before {
            content: url("../images/quote-down.svg");
            top: 23px;
            left: 20px;

            @media (min-width: 768px) {
                top: 28px;
                left: 25px;
            }

            @media (min-width: 1200px) {
                top: 41px;
                left: 38px;
            }
        }

        &::after {
            content: url("../images/quote-up.svg");
            bottom: 17px;
            right: 20px;

            @media (min-width: 768px) {
                bottom: 22px;
                right: 25px;
            }

            @media (min-width: 1200px) {
                bottom: 35px;
                right: 38px;
            }
        }

        + .testimonial__box {
            margin-left: 24px;
        }
    }

    &__review {
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.2;
        margin-bottom: 15px;

        @media (min-width: 576px) {
            font-size: 1.25rem;
        }

        @media (min-width: 768px) {
            font-size: 1.75rem;
        }

        @media (min-width: 992px) {
            font-size: 2.25rem;
        }

        @media (min-width: 1200px) {
            font-size: 2.625rem;
            margin-bottom: 21px;
        }
    }

    &__author {
        font-size: 0.625rem;
        font-weight: 500;
        color: $color-default;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        @media (min-width: 768px) {
            font-size: 0.75rem;
        }
    }
}
