.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.hidden-md {
    @media (max-width: 991px) {
        display: none;
    }
}

.visible-lg {
    @media (max-width: 1199px) {
        display: none;
    }
}
