.btn {
    position: relative;
    display: inline-block;

    &--lg {
        @include button(21px 12px, 0);

        @media (max-width: 991px) {
            @include button(15px 12px, 0);
        }
    }

    &--md {
        @include button(16px 45px, 35px);

        @media (max-width: 991px) {
            @include button(12px 25px, 25px);
        }
    }

    &--sm {
        @include button(15px 19px, 2px);
    }

    &--default {
        @include button-theme($color-secondary, $color-default);

        &:hover {
            background-color: lighten($color-secondary, 10%);
            color: $color-default;
        }
    }

    &--primary {
        @include button-theme($color-default, $color-primary);

        transition: background-color $transition-time;

        &:hover {
            background-color: lighten($color-default, 15%);
            color: $color-primary;
        }
    }

    &--regular {
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.5px;
    }

    &--block {
        display: block;
        width: 100%;
        text-align: center;
        letter-spacing: 0.5px;
    }

    &--round {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-family: 'FontAwesome';
        font-size: 1.25rem;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        color: $btn-text-color;
        border: 2px solid $btn-border-color;
        transition: 0.3s ease;

        @media (min-width: 992px) {
            width: 70px;
            height: 70px;
            font-size: 1.5rem;
            line-height: 70px;
            border: 3px solid $btn-border-color;
        }

        &::before {
            content: "\f104";
            position: relative;
            top: -2px;
            left: -1px;
        }

        &:hover {
            border-color: $btn-text-color;
        }
    }

    &--rounded-bottom {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.btn-link {
    font-size: 0.75rem;
    font-weight: 500;
    color: $base-text-color;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    transition: color $transition-time;

    &:hover {
        color: rgba($base-text-color, 0.75);
    }
}
