.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    background-color: $color-primary;

    @media (min-width: 992px) {
        background-color: transparent;
        padding: 47px 12px;
    }

    > .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-item {
    position: relative;
}

.nav-link {
    display: block;
    font-size: 0.75rem;
    line-height: 1.2;
    letter-spacing: 0.5px;
    padding: 15px 13px;
    color: $color-text-secondary;
    text-transform: uppercase;
    text-decoration: none;
    transition: $transition-time;

    &:hover,
    &:focus,
    &.active {
        color: $base-text-color;
    }
}

.nav-button {
    margin-left: 12px;
    margin-bottom: 6px;

    @media (min-width: 992px) {
        margin-bottom: 0;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: column;

    @include ul-reset();

    @media (min-width: 992px) {
        width: 100%;
        justify-content: flex-end;
    }
}

@media (max-width: 991px) {
    .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-expand {
        > .grid {
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }

        .navbar-nav .nav-link {
            padding: 15px;
        }
    }
}

@media (min-width: 992px) {
    .navbar-expand {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-nav {
            flex-direction: row;
        }

        > .grid {
            flex-wrap: nowrap;
        }

        .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }

        .navbar-toggler {
            display: none;
        }
    }
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    font-size: 1.25rem;
    padding: 6px 12px;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: $color-default;
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover {
        text-decoration: none;
    }

    &-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(35, 35, 35, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}

.navbar-brand {
    display: inline-block;
    margin-right: 12px;
    font-size: 0.75rem;
    white-space: nowrap;

    &:focus,
    &:hover {
        text-decoration: none;
    }

    @media (max-width: 991px) {
        margin-left: 12px;
    }
}

.icon-open {
    &::before {
        position: relative;
        display: inline-block;
        content: url("../../images/icon-open.svg");
        margin-right: 5px;
        top: -2px;
    }
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear;

    &.show {
        opacity: 1;
    }
}

.collapse {
    display: none;

    &.show {
        display: block;
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.nav-submenu {
    display: none;

    @media (min-width: 992px) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1035;
        min-width: 182px;
        padding: 14px 12px 12px;
        margin-top: 5px;
        float: left;
        background-color: $color-default;
        background-clip: padding-box;

        &::before {
            content: "";
            position: absolute;
            left: 23px;
            top: -4px;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 6px solid $color-default;
        }
    }

    &-link {
        display: block;
        width: 100%;
        clear: both;
        white-space: nowrap;
        font-size: 0.625rem;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-text-secondary;
        padding: 10px 30px;
        transition: $transition-time;

        &:hover {
            color: $color-default;
        }

        @media (min-width: 992px) {
            font-size: 0.75rem;
            padding: 8px 12px;
            color: rgba($color-primary, 0.5);

            &:hover {
                color: rgba($color-primary, 0.7);
            }
        }
    }
}
